<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Management</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include layout %>
  <% include Admin/header %>
  <div class="container-fluid">
    <div class="row">
      <%- include Admin/dashboard %>
      <div class="col">
        <h1 align="center" class="my-4"><u>Admin Management User</u></h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">User Name</th>
              <th scope="col">E-mail</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <%  if (locals.users) { %> 
              <% users.forEach( (user) => { %>
              <tr>
                <th scope="row"><a href="/shop/showDetail/<%=user._id%>"><%= user.id %></a></th>
                <th scope="row"><%= user.name %></th>
                <th scope="row"><%= user.email%></td>
                <td>
                  <form action="users/admin/admin-user" method="post" class="delete-project">
                    <input type="hidden" name="id" value="<%=user._id %>">
                    <input type="submit" class="btn btn-danger" value="Delete">
                    </a>
                </td>
              </tr>
              <% }) %>
            <% } %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>